:root {
  --text: #555b6e;
  --black: #000;
  --ajib-white: #8e6334;
  --white: #eef0f2;
  --ajib-black: #121212;
  --dark-red: #de4949;
  --light: #111;
  --red: #450e0e;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

hr {
  width: 60%;
  border-color: var(--white);
  border: 1px solid white;
  transition: 0.4s !important;
}

#trailer {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
  display: grid;
  place-items: center;
}

#trailer:not([data-type=""]) > #trailer-icon {
  opacity: 1;
}

#trailer-icon {
  font-size: 6px;
  line-height: 4px;

  opacity: 0;
  transition: opacity 400ms ease;
}
.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

a {
  text-decoration: none !important;
  color: #fff;
}

a:hover {
  text-decoration: none !important;
  color: #eee;
}

/*BODY*/
body {
  width: 100%;
  min-height: 100%;
  background-color: var(--ajib-black);
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;
}
body:hover > #trailer {
  opacity: 1;
}
.center {
  display: grid;
  place-items: center;
  padding: 0.5em 1em;
}
/*HOME*/
.home {
  background-image: url(images/guitar.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.interactab {
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 101;
  position: relative;
}
.siu {
  mix-blend-mode: difference;
  display: grid;
  place-items: center;
  font-size: 24px;
  color: rgb(255, 255, 255);
  margin: 0.25em 1em;
}

.step {
  margin-bottom: 10vh;
}

/*NAVBAR*/
.navb {
  width: 100%;
  top: 0;
  z-index: 999;
  padding: 10px 15px;
  transition: 0.6s;
}

.navb img {
  height: 6%;
  width: 6%;
  padding: 0.5em;
}

/*HOME*/
.home h1,
.home h2 {
  font-size: 80px;
  font-family: "Cabin", sans-serif;
  letter-spacing: 23px;
  color: var(--white);
  text-align: center;
  font-weight: 700;
}

.home h2 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
}

.home h4 {
  font-size: 30px;
  font-family: "Cabin", sans-serif;
  color: #eee;
  text-align: center;
  border-radius: 20px;
}
.home > h4 > div {
  padding: 1em;
}
@media screen and (max-width: 500px) {
  .home h1,
  h2 {
    font-size: 30px;
    color: #fff;
    letter-spacing: 5px;
  }
}

/*HOME PT2*/
.start {
  padding: 5%;
  padding-bottom: 1%;
  padding-top: 7%;
  overflow-x: hidden;
  background-color: var(--ajib-black);
}

.start img {
  height: 300px;
  width: 300px;
  border-radius: 20px;
}

.start h2 {
  color: var(--white);
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  padding-top: 30px;
}

.start h4 {
  border: #eee solid 2px;
  color: #eee;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  width: 40%;
  margin-top: 40px;
  padding: 10px;
  cursor: pointer;
}
#interactab2 {
  border: 2px solid white;
  height: 3.5em;
}
.start .row {
  padding-bottom: 5%;
}
.explore-grid {
  row-gap: 1em;
  display: grid;
  grid-template-areas:
    "img1 explr img2"
    "img3 img4 img5";
}

/*ABOUT*/
.legacy {
  overflow-x: hidden;
  padding: 5%;
  background-color: var(--ajib-black);
}

.legacy h1 {
  font-size: 27px;
  color: var(--white);
  padding-top: 20px;
}

.legacy p {
  font-size: 18px;
  color: var(--text);
  padding-top: 20px;
}

.legacy h4 {
  border: #555b6e solid 2px;
  color: var(--text);
  font-family: "Poiret One", cursive;
  font-size: 18px;
  width: 15%;
  margin-top: 40px;
  padding: 7px;
  cursor: pointer;
}

/*LATEST*/
.funni {
  padding: 0px;
  overflow-x: hidden;
  background-color: var(--ajib-black);
}

.funni h1 {
  font-size: 55px;
  color: var(--white);
  letter-spacing: 15px;
}

.funni hr {
  width: 100%;
  border: 4px solid white;
  transition: 0.4s !important;
  margin-top: 30px;
  opacity: 1;
  background: white;
}

.funni .row {
  padding-bottom: 2%;
}

/*PLAY*/
.play {
  overflow-x: hidden;
  padding: 5%;
  padding-bottom: 0px;
}

.play img {
  width: 100%;
  height: auto;
  transition: 0.4s;
  filter: grayscale(70%);
}

.play img:hover {
  filter: none;
}

/*VIDEO*/
.video {
  padding-top: 0%;
  padding-bottom: 0px;
}

.video p {
  color: #eee;
}

.video video {
  width: 100%;
}

/*GUITARS*/
.guitar {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--ajib-black);
  padding: 5%;
}

/*TOUR*/
.tour {
  width: 100%;
  height: 60vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.tour::before {
  position: absolute;
  background-attachment: fixed;
  background-image: url("images/funni.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
  height: 60vw;
  width: 100%;
  z-index: -1;
}

.space {
  padding: 3vw;
  padding-top: 3vw;
}

.tour .space .bod {
  border: 3px solid #fff;
  padding-bottom: 2vw;
}

.tour .space .bod h1 {
  font-size: 70px;
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-top: 3%;
}

.tour .bod .info {
  color: #fff;
  font-size: 2vw;
  padding-left: 8vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
  font-family: "Raleway", sans-serif;
}

.tour .bod .view {
  color: #222;
  background-color: #888;
  text-align: center;
  padding: 1vw;
  font-size: 20px;
  margin-top: 1.5vw;
  margin-left: 40vw;
  margin-right: 40vw;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  transition: 0.4s;
  border: 2px solid #000;
}

.tour .bod .view:hover {
  background-color: #555;
  color: #fff;
}

/*FOOTER*/
.footer {
  background-attachment: fixed;
  background-color: var(--ajib-black);
  width: 100%;
  padding: 2%;
}

.footer .e {
  height: 280px;
  width: 280px;
}

.footer h1 {
  color: #eee;
  font-size: 27px;
  text-align: left;
  padding-top: 7%;
}

.footer h3 {
  padding: 1%;
  font-size: 18px;
  color: #eee;
}

.footer p {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  font-size: 17px;
  color: #eee;
}

.footer h2 {
  padding: 1%;
  font-size: 20px;
  color: #eee;
}

@media screen and (max-width: 500px) {
  .footer h2 {
    padding-top: 7%;
  }
}

.footer .row {
  padding: 1%;
}

/*COMMENTING*/
.content {
  padding-top: 50px;
  text-align: center;
  color: #eee;
}
/*
.comment_input, .comment{
  background-color: rgba(0,0,0,0.1);
  margin: 20px 0px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
*/

input,
textarea {
  background-color: transparent;
  border: transparent solid 2px;
  color: var(--six);
  border-bottom-color: rgb(238, 238, 238);
  width: 80%;
  padding: 7px;
  margin-top: 10px;
  transition: 0.25s;
}

/*
input:focus, textarea:focus {
  border-bottom-color: rgb(100, 100, 100);
}
*/

.btn {
  border: #eee solid 2px;
  color: #eee;
  background-color: transparent;
  border-radius: 30px;
  font-size: 15px;
  padding: 10px 15px;
  transition: 0.25s;
  width: auto;
}

.btn:hover {
  background-color: #fff;
  border: #fff solid 2px;
}

.alert {
  display: none;
}
