:root{
  --text: #555b6e;
  --black: #000;
  --white: #8e6334;
  --white: #eef0f2;
  --ajib-black: #121212;
  --dark-red: #de4949;
  --light: #111;
  --red: #450e0e;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

hr {
    width: 100%;
    border: 3px solid white;
    transition: 0.4s !important;
    margin-top:30px;
  }
  
.align-right {
    text-align: right !important;
  }
  
.align-left {
    text-align: left !important;
  }
  
.align-center {
    text-align: center !important;
  }
  
.right {
    float: right !important;
  }
  
.left {
    float: left !important;
  }
  
a {
    text-decoration: none !important;
    color: #fff;
  }

/*BODY*/
  body{
    width: 100%;
    background-color: var(--ajib-black);
    overflow-x: hidden;
    -webkit-user-select: none;
}

/*HOME*/
.home{
    background-image: url(images/guitar.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.home h1 {
    font-size: 110px;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    text-align: center;
    padding-top: 20%;
}

/*HOME PT2*/
.start{
  padding: 5%;
  padding-bottom: 1%;
  padding-top: 7%;
  overflow-x: hidden;
  background-color: var(--ajib-black);
}

.start img{
  height: 300px;
  width: 300px;
  border-radius: 20px;
}

.start h2{
  color: var(--white);
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  padding-top: 30px;
}

.start h4{
  border: #eee solid 2px;
  color: #eee;
  font-family: 'Poiret One', cursive;
  font-size: 18px;
  width: 40%;
  margin-top: 40px;
  padding: 10px;
  cursor: pointer;
}

.start .row{
  padding-bottom: 5%;
}

/*ABOUT*/
.legacy{
  overflow-x: hidden;
  padding: 5%;
  background-color: var(--ajib-black);
}

.legacy h1{
  font-size: 27px;
  color: var(--white);
  padding-top: 20px;
}

.legacy p{
  font-size: 18px;
  color: var(--text);
  padding-top: 20px;
}

.legacy h4{
  border: #555b6e solid 2px;
  color: var(--text);
  font-family: 'Poiret One', cursive;
  font-size: 18px;
  width: 15%;
  margin-top: 40px;
  padding: 7px;
  cursor: pointer;
}

/*LATEST*/
.funni{
  padding: 0px;
  overflow-x: hidden;
  background-color: var(--ajib-black);
}

.funni h1{
  font-size: 55px;
  color: var(--white);
  letter-spacing: 15px;
}

.funni hr {
  width: 100%;
  border: 4px solid white;
  transition: 0.4s !important;
  margin-top:30px;
  opacity: 1;
  background: white;
}

.funni .row{
  padding-bottom: 2%;
}

/*PLAY*/
.play{
   overflow-x: hidden;
   padding: 5%;
   padding-bottom: 0px;
}

.play img{
  width: 320px;
  height: 500px;
  transition: 0.4s;
}

.play img:hover{
  filter: sepia(100%);
}

/*VIDEO*/
.video{
  padding: 5%;
  padding-top: 0%;
  padding-bottom: 0px;
}

.video p{
  color: #eee;
}

.video video{
  height: 90%;
  width: 100%;
}

/*GUITARS*/
.guitar{
  width: 100%;
  overflow-x: hidden;
  background-color: var(--ajib-black);
  padding: 5%;
}

/*
.guitar::before{
  position: absolute;
  background-attachment: fixed;
  background-image: url("images/funni.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
}
*/
