
:root {
    --primary-color: #261a90;
    --secondary-color: #161549;
    --third-color: #7c69bf;
    --nav-bg-color: rgb(30, 30, 30);
    --font-color: #FBFBFD;
    --bg-color: #06040D;
    --loader-bg-color: #0c0c0c;
    --scroll-bg-color: rgb(14, 14, 14);
    --scroll-fg-color: rgb(29, 29, 29);
    --ajib-black: #121212;
}

/* PREREQUISITES */

@font-face {
    font-family: 'Raleway';
    src: url('lib/Raleway-Regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    outline: none !important;
}

html {
    margin: 0px;
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}

::scrollbar {
    width: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-moz-scrollbar {
    width: 10px;
}

::-o-scrollbar {
    width: 10px;
}

::scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::-moz-scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::-o-scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-moz-scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-o-scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-moz-selection {
    color: #fff;
    background-color: var(--primary-color);
}

::-webkit-selection {
    color: #fff;
    background-color: var(--primary-color);
}

::selection {
    color: #fff;
    background-color: var(--primary-color);
}

body {
    transition: 0.25s;
    background-color: var(--ajib-black);
}

hr {
    width: 85%;
    border-color: var(--lighter-bg-color);
    transition: 0.4s !important;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    opacity: 0.8;
    transition: 0.25s;
}

a:hover {
    text-decoration: none;
    color: var(--secondary-color);
    opacity: 1;
}


/*BACKGROUND*/
.bg{
    width: 100%;
    height: 70%;
    background-color: rgba(0,0,0,0.5);
  }
  
.bg::before{
    position: absolute;
    background-attachment: fixed;
    background-image: url("lib/guitars.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    height: 70%;
    width: 100%;
    z-index: -1;
  }

  .bg h1,
  .bg h2 {
    font-size: 90px;
    font-family: 'Cabin', sans-serif;
    letter-spacing: 23px;
    color: var(--white);
    text-align: center;
    font-weight: 700;
  }
  
  .bg h2 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255,255,255,0.4);
  }

/*FOOTER*/
.footer{
    background-attachment: fixed;
    background-color: var(--ajib-black);
    width: 100%;
    padding: 2%;
  }
  
  .footer .e{
    height: 280px;
    width: 280px;
  }
  
  .footer h1{
    color: #eee;
    font-size: 27px;
    text-align: left;
    padding-top: 7%;
  }
  
  .footer h3{
    padding: 1%;
    font-size: 18px;
    color: #eee;
  }
  
  .footer p{
    font-family:'Raleway', sans-serif;
    padding: 1%;
    font-size: 17px;
    color: #eee;
  }
  
  .footer h2{
    padding: 1%;
    font-size: 20px;
    color: #eee;
  }
  
  @media screen and (max-width: 500px) {
    .footer h2{
        padding-top: 7%;
    }
  }
  
  .footer .row{
    padding: 1%;
  }
  
  /*COMMENTING*/
  .content {
    padding-top: 50px;
    text-align: center;
    color: #eee;
  }
  /*
  .comment_input, .comment{
    background-color: rgba(0,0,0,0.1);
    margin: 20px 0px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
  */ 
  
  input, textarea {
    background-color: transparent;
    border: transparent solid 2px;
    color: var(--six);
    border-bottom-color: rgb(238, 238, 238);
    width: 80%;
    padding: 7px;
    margin-top: 10px;
    transition: 0.25s;
  }
  
  /*
  input:focus, textarea:focus {
    border-bottom-color: rgb(100, 100, 100);
  }
  */
  
  .btn{
    border: #eee solid 2px;
    color: #eee;
    background-color: transparent;
    border-radius: 30px;
    font-size: 15px;
    padding: 10px 15px;
    transition: 0.25s;
    width: auto;
  }
  
  .btn:hover{
    background-color: #fff;
    border: #fff solid 2px;
  }
  
  .alert {
    display: none;
  }
