
:root {
    --primary-color: #261a90;
    --secondary-color: #161549;
    --third-color: #7c69bf;
    --nav-bg-color: rgb(30, 30, 30);
    --font-color: #FBFBFD;
    --bg-color: #06040D;
    --loader-bg-color: #0c0c0c;
    --scroll-bg-color: rgb(14, 14, 14);
    --scroll-fg-color: rgb(29, 29, 29);
    --ajib-black: #121212;
}

/* PREREQUISITES */

@font-face {
    font-family: 'apercu';
    src: url('lib/font.otf');
}

* {
    margin: 0px;
    padding: 0px;
    outline: none !important;
}

html {
    margin: 0px;
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}

::scrollbar {
    width: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-moz-scrollbar {
    width: 10px;
}

::-o-scrollbar {
    width: 10px;
}

::scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::-moz-scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::-o-scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-moz-scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-o-scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-moz-selection {
    color: #fff;
    background-color: var(--primary-color);
}

::-webkit-selection {
    color: #fff;
    background-color: var(--primary-color);
}

::selection {
    color: #fff;
    background-color: var(--primary-color);
}

body {
    transition: 0.25s;
}

hr {
    width: 85%;
    border-color: var(--lighter-bg-color);
    transition: 0.4s !important;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    opacity: 0.8;
    transition: 0.25s;
}

a:hover {
    text-decoration: none;
    color: var(--secondary-color);
    opacity: 1;
}


/* SECTIONS */

.section {
    z-index: 1;
    background-color: var(--bg-color);
    color: var(--font-color);
    transition: 0.4s;
    padding: 75px 0px;
}

.section-hr {
    height: 5px;
    width: 60%;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    margin: 10px;
}

.section .row {
    padding: 10px;
}

h3.section-title {
    font-size: 35px;
}

.section-title {
    font-family: 'apercu', sans-serif;
    font-weight: 800;
    font-size: 50px;
    padding: 10px;
}

.section-text {
    font-size: 20px;
    padding: 10px;
    font-family: 'open sans', sans-serif;
}

/* HOME */

.home {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: none;
}

.market-home {
    min-height: 70vh;
}

.market-home .home-text {
    margin-top: 10vh;
}

.market-home .back {
    height: 70vh;
    background-color: rgba(#121212)
}

.back {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-color: #111;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.home-text {
    margin-top: 25vh;
    width: 100%;
    margin-bottom: 20px;
    padding: 30px;
}

.home-img {
    padding-top: 20vh;
}

.home-img img {
    width: 100%;
    filter: invert(1);
}

.home-text h1 {
    font-size: 60px;
    font-family: 'apercu', sans-serif;
    font-weight: 800;
}

.home-links {
    margin-top: 20px;
}

.home-text h3 {
    font-size: 30px;
    font-family: 'apercu', sans-serif;
    font-weight: 800;
}

.home a {
    font-size: 18px;
    font-family: 'open sans', sans-serif;
    text-transform: uppercase;
}

a.enter {
    background-color: #eef0f2;
    border-radius: 15px;
    padding: 7px 15px;
    transition: 0.25s;
    text-align: center;
    margin: 5px;
    color: #000;
}
/* MARKET */

.market {
    background-color: #121212;
    color: #fdfdfe;
}

.market-item {
    border-radius: 15px;
    background-color: #450e0e;
    color: #fdfdfe;
    margin: 20px 1px;
    box-shadow:rgba(16, 6, 19, 0.2) 0px 0px 10px;
    transition: 0.25s;
}

.market .section-hr {
    background: #fdfdfe;
}

.market-item:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.coin {
    height: 25px;
    margin: 0px 5px;
}

.market-text {
    padding: 10px 30px 20px 30px;
}

.purchase {
    padding: 5px 10px;
    background-color: #100613;
    color: #fdfdfe !important;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px;
}

.market-img {
    border-radius: 50%;
    height: 200px;
    padding: 20px;
}

.market-img img {
    height: 100%;
    border-radius: 50%;
}

/*FOOTER*/
.footer{
    background-attachment: fixed;
    background-color: var(--ajib-black);
    width: 100%;
    padding: 2%;
  }
  
  .footer .e{
    height: 200px;
    width: 270px;
  }
  
  .footer h1{
    color: #eee;
    font-size: 27px;
    text-align: left;
    padding-top: 7%;
  }
  
  .footer h3{
    padding: 1%;
    font-size: 18px;
    color: #eee;
  }
  
  .footer p{
    font-family:'Raleway', sans-serif;
    padding: 1%;
    font-size: 17px;
    color: #eee;
  }
  
  .footer h2{
    padding: 1%;
    font-size: 20px;
    color: #eee;
  }
  
  @media screen and (max-width: 500px) {
    .footer h2{
        padding-top: 7%;
    }
  }
  
  .footer .row{
    padding: 1%;
  }
  
  /*COMMENTING*/
  .content {
    padding-top: 50px;
    text-align: center;
    color: #eee;
  }
  /*
  .comment_input, .comment{
    background-color: rgba(0,0,0,0.1);
    margin: 20px 0px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
  */ 
  
  input, textarea {
    background-color: transparent;
    border: transparent solid 2px;
    color: var(--six);
    border-bottom-color: rgb(238, 238, 238);
    width: 80%;
    padding: 7px;
    margin-top: 10px;
    transition: 0.25s;
  }
  
  /*
  input:focus, textarea:focus {
    border-bottom-color: rgb(100, 100, 100);
  }
  */
  
  .btn{
    border: #eee solid 2px;
    color: #eee;
    background-color: transparent;
    border-radius: 30px;
    font-size: 15px;
    padding: 10px 15px;
    transition: 0.25s;
    width: auto;
  }
  
  .btn:hover{
    background-color: #fff;
    border: #fff solid 2px;
  }
  
  .alert {
    display: none;
  }